.header{
  width: 145px;
  height: 24px;
  color: #637f83;
  font-family: 'Source Sans Pro Black', arial;
  font-size: 32px;
  font-weight: 800;
  line-height: 26px;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 377px;
  margin-right: 1401px;
  position: absolute;
}