@font-face {
    font-family: PT-Sans;
    src: url(../font/PTSans-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../font/Lato-Regular.ttf);
}

.main {
    margin: 0 auto;
    width: 100%;
}

.section-bg {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 520px;
}

.section-bg__content {
    margin: auto;
    padding: 20px;
}

.section-bg__content-text {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: #ffffff;
    font-family: PT-Sans;
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
    text-decoration: underline;
    letter-spacing: 3.2px;
}

.subtitle {
    margin-top: 34px;
    text-align: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.section-bg__icon {
    margin: auto;
    margin-top: 41px;
}

.section-bg__icon-arrow {
    margin: auto;
    color: #ffffff;
    font-size: 32px;
}

.label {
    width: 100%;
    height: 140px;
    display: flex;
}

.label-section {
    margin: auto;
    text-align: center;
}

.featured-section {
    background-color: #f6f6f6;
    height: 375px;
}

.featured-section__content {
    height: 100%;
    margin: auto;
    max-width: 1170px;
    display: flex;
}

.featured-section__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 62px;
    padding-right: 44px;
    padding-left: 44px;
}

.featured-section__content-item--border {
    border-right: 1px solid #b5c7c9;
}

.featured-section__content-icon {
    color: #e4551d;
    font-size: 68px;
}

.featured-section__content-lead {
    margin-top: 35px;
}

.featured-section__content-description {
    text-align: center;
    margin-top: 22px;
}

.featured-section__content-button {
    margin-top: 27px;
}