  #nav-container > nav > ul {
    list-style-type: none;
  }
  
  #nav-background {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
  
  #nav-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav-logo {
    text-decoration: none;
    width: 145px;
    height: 24px;
    color: #637f83;
    font-family: 'Source Sans Pro Black', arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
  }

  #nav-logo:hover {
    color: #637f80;
  }
  
  .nav-ul {
    display: flex;
    max-width: 700px;
  }
  
  .nav-ul > li {
    display: flex;
  }
  
  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    flex: 1;
    background: #ffffff;
    
    font-family: 'Source Sans Pro', arial;
    color: #637f83;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
  }
  
  .nav-link__home{
    flex-basis: auto;
    padding: 1rem 1.5rem;
    padding-top: 40px;
    padding-bottom: 40px;

    flex: 1;
    background: #ffffff;

    font-family: 'Source Sans Pro', arial;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #e4551d;
  }

  .nav-link:hover {
    background-color: #f1f1f1;
  }
