  @font-face {
    font-family: SourceSansPro-Black;
    src: url(fonts/SourceSansPro-Black.ttf);
  }

  @font-face {
      font-family: SourceSansPro;
      src: url(fonts/SourceSansPro-Bold.ttf);
    }
  
  .header {
    max-width: 1170px;
    max-height: 90px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .header__navigation {
    display: flex;
    justify-content: space-between;
  }

  .site-name {
    white-space:nowrap;
    text-decoration: none;
    max-width: 200px;
    color: #637f83;
    font-family: SourceSansPro-Black;
    font-size: 32px;
    line-height: 26px;
  }

  .site-name__wrapper {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
  }
  
  .navigation__link-list {
    display: flex;
    margin: 0;
  }
  
  .navigation__link-list-item {
    display: flex;
  }
  
  .navigation-link {
    flex-basis: auto;
    padding: 40px 25px;
    background: #ffffff;
    
    font-family: SourceSansPro;
    color: #637f83;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }

  .navigation-link--selected {
    color: #e4551d;
  }

  .navigation-link--selected::before {
    content:url(checkmark.png);
    position: absolute;
    margin-top: -25px;
    margin-left: 15px;
  }

  .navigation-link:hover {
    background-color: #f1f1f1;
  }