.img-man{
    margin-top: 1700px;
    margin-left: 375px;
    position: absolute;
  }
  .img-woman{
    margin-top: 1700px;
    margin-left: 975px;
    position: absolute;
  }
  .img-boy{
    position: absolute;
    margin-top: 1831px;
    margin-left: 975px;
  }
  .img-dhwoman{
    position: absolute;
    margin-top: 1831px;
    margin-left: 382px;
  }