*{
	padding:0px;
	margin: 0px;
}
a{
  text-decoration: none;
}
body{
  max-width: 1923px;
  max-height: 2573px;
}
.header__logo{
  width: 145px;
  height: 24px;
  color: #637f83;
  font-family: 'Source Sans Pro Black', arial;
  font-size: 32px;
  font-weight: 800;
  line-height: 26px;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 377px;
  margin-right: 1401px;
}

nav{
  margin-top: -50px;
  margin-left: 966px;
}

.topnav{
  word-spacing: 50px;
  width: 580px;
  height: 10px;
  color: #637f83;
  font-family: 'Source Sans Pro', arial;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.homenav{
  color: #e4551d;
}

.text1 {
  position: absolute;
  margin-left: 783px;
  margin-top: 125px;

  font-family: 'PT Sans', arial;
  width: 483px;
  height: 88px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-decoration: underline;
  letter-spacing: 3.2px;
}

.text2{
  position: absolute;
  margin-left: 716px;
  margin-top: 177px;
  
  font-family: 'PT Sans', arial;
  width: 483px;
  height: 88px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-decoration: underline;
  letter-spacing: 3.2px;
}

.text3{
  position: absolute;
  margin-left: 806px;
  margin-top: 247px;

  width: 303px;
  height: 37px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.text4{
  position: absolute;
  margin-left: 872px;
  margin-top: 273px;

  width: 303px;
  height: 37px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.bgimg1{
  background: url('img/bg/wallpaperwide.png');
  width: 1920px;
  height: 520px;
  margin-top: 90px;
  position: absolute;
}

.circleimg{
  margin-top: 325px;
  margin-left:  924px;
  position: absolute;
}

.arrowimg{
  margin-top: 344px;
  margin-left:  952px;
  position: absolute;
}

.text5{
  position: absolute;
  width: 688px;
  height: 58px;
  color: #637f83;
  font-family: 'Source Sans Pro', arial;
  font-size: 34px;
  font-weight: 700;;
}
.loremtext5{
  margin-top: 651px;
  margin-left: 760px;
}
.text6{
  position: absolute;
  width: 688px;
  height: 58px;
  color: #637f83;
  font-family: 'Source Sans Pro Light', arial;
  font-size: 24px;
  font-weight: 300;
}
.donectext6{
  margin-top: 687px;
  margin-left: 617px;
}

.bgimg2{
  background: url('img/bg/bg2.png');
  width: 1922px;
  height: 375px;
  margin-top: 750px;
  position: absolute;
}

.computer{
  margin-left: 475px;
  margin-top: 62px;
  position: absolute;
}

.bottle{
  margin-left: 780px;
  margin-top: 62px;
  position: absolute;
}

.settings{
  margin-left: 1075px;
  margin-top: 62px;
  position: absolute;
}

.rupor{
  margin-left: 1377px;
  margin-top: 62px;
  position: absolute;
}

.vertline1{
  margin-left: 661px;
  position: absolute;
}
.vertline2{
  margin-left: 961px;
  position: absolute;
}
.vertline3{
  margin-left: 1261px;
  position: absolute;
}

/*common*/

.icontext{
  margin-top: 160px;
  position: absolute;
  width: 146px;
  height: 20px;
  color: #637f83;
  font-family: 'Source Sans Pro', arial;
  font-size: 22px;
  font-weight: 700px;
}
.undericontext{
  text-align: center;
  margin-top: 204px;
  position: absolute;
  width: 194px;
  height: 53px;
  color: #959494;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.more{
  margin-top: 294px;
  position: absolute;
  width: 36px;
  height: 10px;
  color: #ffffff;
  font-family: 'Source Sans Pro Black', arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.morebutton{
  margin-top: 282px;
  position: absolute;
}

 /*computer*/
.computericontext{
  margin-left: 435px;
}
.computerundericontext{
  margin-left: 416px;
}
.computermorebutton{
  margin-left: 465px;
}
.computermore{
  margin-left: 495px;
}

/*bottle*/

.bottleicontext{
  margin-left: 744px;
}
.bottleundericontext{
  margin-left: 706px;
}
.bottlemorebutton{
  margin-left: 767px;
}
.bottlemore{
  margin-left: 797px;
}

/*settings*/

.settingsicontext{
  margin-left: 1038px;
}
.settingsundericontext{
  margin-left: 1012px;
}
.settingsmorebutton{
  margin-left: 1067px;
}
.settingsmore{
  margin-left: 1094px;
}

/*rupor*/

.ruporicontext{
  margin-left: 1338px;
}
.ruporundericontext{
  margin-left: 1308px;
}
.rupormorebutton{
  margin-left: 1365px;
}
.rupormore{
  margin-left: 1396px;
}

.crastext5{
  margin-top: 1181px;
  margin-left: 780px;
}

.donec2text6{
  margin-left: 617px;
  margin-top: 1218px;
}

.horizontalLine{
  margin-top: 1273px;
  margin-left: 375px;
}
.leftarrow{
  margin-top: 1263px;
  margin-left: -608px;
  position: absolute;
}

.rightarrow{
  margin-top: 1263px;
  margin-left: -580px;
  position: absolute;
}

.orange{
  margin-top: 42px;
  margin-left: 375px;
}
.buttonorange{
  margin-left: 884px;
  margin-top: 40px;
}
.viewportfoliobutton{
  margin-left: 900px;
  margin-top: -35px;
  width: 119px;
  height: 13px;
  color: #ffffff;
  font-family: 'Source Sans Pro', arial;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.36px;
}

.line{
  margin-left: 375px;
  margin-top: 60px;
}

.manpicture{
  margin-top: 62px;
  margin-left: 375px;
  position: absolute;
}
.manbg{
  margin-top: 60px;
  margin-left: -96px;
}
.womanpicture{
  margin-top: 60px;
  margin-left: 975px;
  position: absolute;
}
.dhwomanpicture{
  position: absolute;
  margin-top: 195px;
  margin-left: 382px;
}
.dhwomanbg{
  position: absolute;
  margin-top: 191px;
  margin-left: 375px;
}
.boypicture{
  position: absolute;
  margin-top: 195px;
  margin-left: 975px;
}

.textheader{
  width: 185px;
  height: 20px;
  color: #637f83;
  font-family: 'Source Sans Pro', arial;
  font-size: 22px;
  font-weight: 700;
}
.text{
  width: 400px;
  height: 65px;
  color: #959494;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.textmore{
  color: #e4551d;
}
.mantextheader{
  margin-left: 505px;
  margin-top: 59px;
  position: absolute;
}
.womantextheader{
  margin-left: 1105px;
  margin-top: 59px;
  position: absolute;
}
.dhwomantextheader{
  margin-left: 505px;
  margin-top: 193px;
  position: absolute;
}
.boytextheader{
  margin-left: 1105px;
  margin-top: 193px;
  position: absolute;
}
.mantext{
  margin-left: 505px;
  margin-top: 94px;
  position: absolute;
}
.womantext{
  margin-left: 505px;
  margin-top: 226px;
  position: absolute;
}
.dhwomantext{
  margin-left: 1107px;
  margin-top: 94px;
  position: absolute;
}
.boytext{
  margin-left: 1107px;
  margin-top: 226px;
  position: absolute;
}

.greybg{
  margin-top: 191px;
}
.crastext52{
  color: #ffffff;
  margin-top: -537px;
  margin-left: 781px;
}
.donec2text62{
  color: #ffffff;
  margin-left: 619px;
  margin-top: -498px
}
.greyline{
  position: absolute;
  margin-top: -440px;
  margin-left: 375px;
}
.letter{
  position: absolute;
  margin-top: -400px;
  margin-left: 375px;
}
.whitetext{
  width: 204px;
  height: 13px;
  color: #ffffff;
  font-family: 'Source Sans Pro', arial;
  font-size: 18px;
  font-weight: 700;
}
.smallwt{
  width: 269px;
  height: 13px;
  color: #ffffff;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  font-weight: 400;
}
.subscribe{
  position: absolute;
  margin-top: -400px;
  margin-left: 435px;
}
.subscribe2{
  position: absolute;
  margin-top: -380px;
  margin-left: 435px;
}
.subscribeform{
  position: absolute;
  margin-top: -337px;
  margin-left: 375px;
}
.signupbtn{
  position: absolute;
  margin-top: -337px;
  margin-left: 845px;
}
.signup{
  position: absolute;
  margin-top: -331px;
  margin-left: 864px;
  width: 62px;
  height: 16px;
  color: #ffffff;
  font-family: 'Source Sans Pro Black', arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0.36px;
}
.twitterbg{
  position: absolute;
  margin-top: -400px;
  margin-left: 977px;
}
.twittericon{
  width: 58px;
  height: 48px;
  position: absolute;
  margin-top: -373px;
  margin-left: 1007px;
}
.twittertextstyle{
  width: 429px;
  height: 58px;
  color: #b5c7c9;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.johndoe{
  color: #ffffff;
  text-decoration: underline;
}
.twittertext{
  position: absolute;
  margin-top: -380px;
  margin-left: 1085px;
}
.whitebg{
  position: absolute;
  margin-top: -250px;
} 
.facebookcircle{
  position: absolute;
  margin-left: 377px;
  margin-top: -220px;
}
.googlecircle{
  position: absolute;
  margin-left: 778px;
  margin-top: -220px;
}
.incircle{
  position: absolute;
  margin-left: 1200px;
  margin-top: -220px;
}
.followtextstyle{
  width: 176px;
  height: 13px;
  color: #637f83;
  font-family: 'Source Sans Pro', arial;
  font-size: 18px;
  font-weight: 700;
}
.followfb{
  position: absolute;
  margin-left: 467px;
  margin-top: -200px;
}
.followgoogle{
  position: absolute;
  margin-left: 868px;
  margin-top: -200px;
}
.followin{
  position: absolute;
  margin-left: 1290px;
  margin-top: -200px;
}
.ficon{
  position: absolute;
  margin-left: 405px;
  margin-top: -200px;
}
.gicon{
  position: absolute;
  margin-left: 801px;
  margin-top: -200px;
}
.inicon{
  position: absolute;
  margin-left: 1220px;
  margin-top: -200px;
}
.socialtextstyle{
  width: 139px;
  height: 10px;
  color: #b5c7c9;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  font-weight: 400;
}
.fbtext{
  position: absolute;
  margin-left: 467px;
  margin-top: -178px;
}
.gtext{
  position: absolute;
  margin-left: 868px;
  margin-top: -178px;
}
.intext{
  position: absolute;
  margin-left: 1290px;
  margin-top: -178px;
}
.designstyle{
  width: 779px;
  height: 13px;
  color: #ffffff;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.design{
  position: absolute;
  margin-left: 571px;
  margin-top: -64px;
}