@mixin header-text {
    max-width: $content-width;
    margin: auto;
    color: #ffffff;
}

.header-label {
    @include header-text();
    font-family: SourceSansPro;
    font-size: 34px;
    font-weight: bold;
}

.header-label--light {
    color: #ffffff;
}

.header-label--dark {
    color: $grey-color;
}

.header-descripton {
    @include header-text();
    font-size: 24px;
    font-family: SourceSansPro-Light;
    font-weight: light;
}

.header-descripton--light {
    color: #ffffff;
}

.header-descripton--dark {
    color: $grey-color;
}

.button {
    width: 100px;
    height: 40px;
    background-color: $grey-color;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    color: #ffffff;
    font-family: SourceSansPro-Black;
    font-size: 18px;
    line-height: 25.6px;
    letter-spacing: 0.36px;
}

.circle-button {
    background-color: $orange-color;
    border: none;
    border-radius: 50%;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.circle-button--small {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.orange-button {
    background-color: $orange-color;
    width: 150px;
    border-radius: 5px;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: SourceSansPro;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.lead {
    color: #637f83;
    font-family: SourceSansPro;
    font-size: 22px;
    font-weight: bold;
}

.description {
    color: #959494;
    font-family: SourceSansPro;
    font-size: 14px;
}