@mixin flex-height {
  height: 100%;
  display: flex;
}

.header {
  max-width: $content-width;
  height: 90px;
  padding-left: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.site-name__wrapper {
  @include flex-height;
  align-items: center;
}

.site-name {
  white-space: nowrap;
  text-decoration: none;
  max-width: 200px;
  color: $grey-color;
  font-family: SourceSansPro-Black;
  font-size: 32px;
  line-height: 26px;
}

.navigation {
  @include flex-height;
  flex: 1;
  justify-content: flex-end;
}

.navigation__link-list {
  height: 100%;
  display: flex;
}

.navigation__link-list-item {
  align-items: center;
  @include flex-height;
}

.navigation-link {
  padding: 0 25px;
  background: #ffffff;

  font-family: SourceSansPro;
  color: $grey-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link--selected {
  color: $orange-color;
}

.navigation-link--selected::before {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  margin-top: -25px;
  margin-left: 15px;
}

.navigation-link:hover {
  color: $orange-color;
}

@media (min-width: $content-width) {
  .header {
    padding-left: 0px;
  }
}